table{
    
}

.container1{
    margin-top:100px;
    margin-left:150px;

   
}



form{
    background-color:grey;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.form-check{
    padding-top:40px;
}

button{
    margin-top:5px;
}
